.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.selectedImage {
  object-fit: contain;
}

.resultsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  gap: 1rem;
}

.results {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

.divider {
  text-align: center;
}
